*{
margin: 0;

padding: 0;

text-align: center;
}
h1{
 border: 2px solid black;
 width: fit-content;
 margin: auto;
 margin-top: 30px;
 padding: 7px;
 border-radius: 5px;
 background-color: rgb(42, 23, 60);
 color: aliceblue;
 box-shadow: 0 0 7px 7px rgb(162, 30, 92);;
}
.winner{
display: none;
}
.win{
height: 600px;
padding: 60px;
width:600px;
text-align: center;
margin:auto;
margin-top: 170px;
font-size: 70px;
color:rgb(51, 47, 47);
}
.msg-content{
 margin-top: 30px;
 box-shadow: 7px 7px 7px rgb(162, 30, 92);;
 background-color: rgb(43, 22, 52);
 color: rgb(255, 254, 254);
 border-radius: 7px;
}
body{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px ;

background: url("/background.jpg") no-repeat center center/cover;

min-height: 95.4vh;
}
.container{
  display: block;
margin-top: 10px;
text-align: center;
margin: auto;
}
.game{
margin: 30px 450px 0 450px;
flex-wrap: wrap;
display:flex;
justify-content: center;
align-items: center;
}

.box{
margin: 30px;
margin-top: 10px;
 font-size: 70px;   
 text-align: center;
height: 90px;
width: 90px;
border-radius: 10px;
background-color:rgb(101, 66, 81);
color: rgb(255, 255, 255);
}
.box:hover{
  cursor: pointer;
}
.newGame{
height: 40px;
width: 100px;
font-size: 15px;
border-radius: 6px;
box-shadow: 7px 7px 7px rgb(162, 30, 92);;
margin-top: 30px;
color: aliceblue;
background-color: rgb(28, 27, 27);}
.resetGame{
    height: 30px;
    width: 90px;
    margin-top: 30px;
    font-size: 15px;
    border-radius: 6px;
    box-shadow:7px 7px 7px rgb(111, 69, 151); ;
    box-shadow:7px 7px 7px rgb(13, 6, 20); ;
    color: aliceblue;
    background-color: rgb(28, 27, 27);}
.scroll{
font-size:large;
color: aliceblue;
height: 30px;
border-radius: 8px;
text-align: center;
margin-top: 30px;
padding-top: 7px;
background-color: rgb(91, 24, 70);
}    
#currentTurn{
  text-shadow: 2px 3px 2px rgb(115, 50, 151);
  margin-top: 2rem;
  margin-bottom: 0;
}